$DColor--default    : #34495e !default
$DColor--friendly   : #27ae60 !default
$DColor--dangerous  : #e74c3c !default
$DColor--warning    : #f39c12 !default
$DColor--action     : #9b59b6 !default
$DColor--disabled   : #bdc3c7 !default