
@import 'compass/css3'
@import '../global/_colors'
@import '../global/_icons'


=not-state($state, $value: true)
    &:not([data-#{ $state }="#{ $value }"])
        @content

=state($state, $value: true)
    &[data-#{ $state }="#{ $value }"]
        @content


.Button
    cursor: pointer
    &:disabled
        cursor: default


.Button
    +transition-property('padding-right, background, color')
    +transition-duration(0.2s)
    position        : relative
    vertical-align  : middle
    height          : $Button-height
    padding-top     : $Button-internal_padding
    padding-bottom  : $Button-internal_padding
    padding-left    : $Button-internal_padding + $Button-label_padding
    padding-right   : $Button-internal_padding + $Button-label_padding

    &.-icon.-text
        padding-left: $Button-icon--width + $Button-internal_padding * 2

    &.-icon:not(.-text)
        width: $Button-icon--width + ($Button-height - $Button-icon--width)

    &.-spinner
        .Spinner
            opacity     : 0
            position    : absolute
            top         : ($Button-height - $Button-spinner--height) / 2
            right       : $Button-internal_padding
            width       : $Button-spinner--width
            min-width   : $Button-spinner--width
            height      : $Button-spinner--height
            min-height  : $Button-spinner--height


        +state(active)
            &:not(.Button-spinner-replace)
                padding-right: $Button-spinner--width + $Button-internal_padding * 2
            .Spinner
                display: block
                opacity: 1
            &.Button-spinner-replace
                .Button_icon_display
                    visibility: hidden
                .Button_label
                    visibility: hidden
                .Spinner
                    right: calc(50% - #{ $Button-spinner--width / 2 })

    &:not(.-text).-icon.-spinner
        +state(active)
            padding-right: 0
            .Spinner
                right: ($Button-height - $Button-spinner--height) / 2
            .ButtonIconDisplay
                display: none


.ButtonIconDisplay
    position    : absolute
    left        : ($Button-height - $Button-icon--width) / 2
    top         : ($Button-height - $Button-icon--height) / 2
    width       : $Button-icon--width
    height      : $Button-icon--height
    display     : block
