





=icon-mask($image)
    //mask                    : $image
    -webkit-mask            : $image
    mask-size               : contain
    -webkit-mask-size       : contain
    mask-position           : center center
    -webkit-mask-position   : center center
    mask-repeat             : no-repeat
    -webkit-mask-repeat     : no-repeat



.Button
    border          : 0
    font-family     : $Button-font--family
    font-size       : $Button-font--size

    &:not(.-bare)
        border-width    : $Button-border--width
        border-radius   : $Button-border--radius
        border-color    : $Button-border--color
        border-style    : $Button-border--style
        background      : $Button-background--default
        color           : $Button-font--color
        &:hover:not(:disabled)
            background: $Button-background--default--hover
        &:active:not(:disabled)
            background: $Button-background--default--active
        &:disabled
            background: $Button-background--default--disabled

        //.ButtonIcon
        //    +extends(background-image: $icon_default_image

        &.-friendly
            background: $Button-background--friendly
            &:hover:not(:disabled)
                background: $Button-background--friendly--hover
            &:active:not(:disabled)
                background: $Button-background--friendly--active
            &:disabled
                background: $Button-background--friendly--disabled
            //.ButtonIcon
            //    background-image: $icon_friendly_image

        &.-dangerous
            background: $Button-background--dangerous
            &:hover:not(:disabled)
                background: $Button-background--dangerous--hover
            &:active:not(:disabled)
                background: $Button-background--dangerous--active
            &:disabled
                background: $Button-background--dangerous--disabled
            //.ButtonIcon
            //    background-image: $icon_dangerous_image

        &.-warning
            background: $Button-background--warning
            &:hover:not(:disabled)
                background: $Button-background--warning--hover
            &:active:not(:disabled)
                background: $Button-background--warning--active
            &:disabled
                background: $Button-background--warning--disabled
            //.ButtonIcon
            //    background-image: $icon_warning_image

        &.-action
            background: $Button-background--action
            &:hover:not(:disabled)
                background: $Button-background--action--hover
            &:active:not(:disabled)
                background: $Button-background--action--active
            &:disabled
                background: $Button-background--action--disabled
            //.ButtonIcon
            //    background-image: $icon_action_image


.Button.-bare
    background  : transparent
    color       : $Button-color--default
    font-weight : $Button-font--weight--bare
    -webkit-font-smoothing: antialiased
    &:hover, &:active
        background: transparent
    &:not(:disabled)
        &:hover
            color: lighten($default_color, 10)
        &:active
            color: darken($default_color, 10)
    &:disabled
        color: $disabled_color
        .ButtonIcon
            background-color: $disabled_color
    .ButtonIcon
        +icon-mask($icon_bare_default_image)
        background-color: $default_color
    &.-friendly
        &:not(:disabled)
            color: $friendly_color
            &:hover
                color: lighten($friendly_color, 10)
            &:active
                color: darken($friendly_color, 10)
            .ButtonIcon
                +icon-mask($icon_bare_friendly_image)
                background-color: $friendly_color
    &.-dangerous
        &:not(:disabled)
            color: $dangerous_color
            &:hover
                color: lighten($dangerous_color, 10)
            &:active
                color: darken($dangerous_color, 10)
            .ButtonIcon
                +icon-mask($icon_bare_dangerous_image)
                background-color: $dangerous_color
    &.-warning
        &:not(:disabled)
            color: $warning_color
            &:hover
                color: lighten($warning_color, 10)
            &:active
                color: darken($warning_color, 10)
            .ButtonIcon
                +icon-mask($icon_bare_warning_image)
                background-color: $warning_color
    &.-action
        &:not(:disabled)
            color: $action_color
            &:hover
                color: lighten($action_color, 10)
            &:active
                color: darken($action_color, 10)
            .ButtonIcon
                +icon-mask($icon_bare_action_image)
                background-color: $action_color
