
.Select
    font-family     : $Select-font--family
    margin-bottom   : 1em

.Select_Choice, .Select_Value, .Select_Label
    cursor: pointer

.Select_Value.-null
    .Select_ValueLabel
        opacity: 0.7
        font-style: italic

.Select_Choice.-null
    .Select_ChoiceLabel
        opacity: 0.7
        font-style: italic




// Theme styles
.Select_Value, .Select_Choices
    border-radius       : $Select-border--radius
    border-style        : $Select-border--style
    border-width        : $Select-border--width
    border-color        : $Select-border--color
    background          : $Select-background

.Select_Value
    padding: $Select-internal_padding

.Select_ValueLabel
    +icon(down)
        display     : inline-block
        float       : right
        font-style  : normal

.Select_Choice
    padding: $Select-internal_padding
    &:hover:not([data-selected="true"])
        background: $Select_Choice-background--hover
    &[data-selected="true"]
        background: $Select_Choice-background--selected

.Select_Label
    padding: $Select-internal_padding
    color: $Select_Label-color
    &:empty
        display: none

