
.Select
    box-sizing      : border-box
    position        : relative
    [data-hidden="true"]
        visibility: hidden
    &.-inline
        display: inline-block
        .SelectValue
            display: inline-block

.SelectLabel
    display: inline-block

.SelectChoices
    box-sizing      : border-box
    min-width       : $SelectChoices-min_width
    max-height      : $SelectChoices-max_height
    position        : absolute
    z-index         : $SelectChoices-z_index

.SelectValue
    box-sizing      : border-box
    min-width       : $SelectChoices-min_width






