

.StringField
    display             : block
    box-sizing          : border-box
    *
        box-sizing: border-box
    label
        display: block


.StringFieldTokenForm
    display: block
 
.StringFieldTokens
    display: block

 
.StringFieldToken
    display: inline-block

.StringFieldInput
    display: block
    width: 100%
    max-width: 100%

.StringFieldTokenRemove
    display: inline-block

.StringFieldLabel
    display: block
.StringFieldCounter
    float: right

.StringFieldCounterTotal:before
    content: "/"