

.StringField
    display             : block
    label
        display: block


.StringFieldTokenForm
    display: block
 
.StringFieldTokens
    display: block

 
.StringFieldToken
    display: inline-block

.StringFieldInput
    display: block

.StringFieldTokenRemove
    display: inline-block