@import 'compass/css3'
@import './_responsive'

$AppBar_z_index         : 1 !default
$AppBar_height          : auto !default
$AppBar_background      : white !default
$AppBar_border          : 1px solid transparent !default
$AppBar_item_spacing     : 10px !default
$AppBar_item_v_spacing   : $AppBar_item_spacing !default
$AppBar_item_h_spacing   : $AppBar_item_spacing !default

.AppBar
    &.AppBar-pinned
        position: fixed
    z-index: $AppBar_z_index
    background: $AppBar_background
    &.AppBar-top, &.AppBar-bottom
        left: 0
        right: 0
        height: $AppBar_height
        .AppBar-head, .AppBar-tail
            position: absolute
            top: 0
            width: 50%
            +box-sizing(border-box)
            padding: $AppBar_item_v_spacing 0
            > *
                margin: 0 $AppBar_item_h_spacing
        .AppBar-head
            left: 0
        .AppBar-tail
            text-align: right
            right: 0
    &.AppBar-responsive
        +respond-to(handhelds)
            .AppBar-head, .AppBar-tail
                width: 100%
                position: static
                text-align: left
    &.AppBar-top
        top: 0
        border-bottom: $AppBar_border
    &.AppBar-bottom
        bottom: 0
        border-top: $AppBar_border

    &.AppBar-left, &.AppBar-right
        top: 0
        bottom: 0
        .AppBar-head, .AppBar-tail
            position: absolute
            left: 0
            right: 0
            padding: 0 $AppBar_item_h_spacing
            > *
                margin: $AppBar_item_v_spacing 0
        .AppBar-head
            top: 0
        .AppBar-tail
            bottom: 0
    &.AppBar-left
        left: 0
        border-right: $AppBar_border
    &.AppBar-right
        right: 0
        border-left: $AppBar_border


