
@import 'compass/css3'
@import '../misc/_colors'

$Button_height          : 50px !default
$Button_icon_width      : 36px !default
$Button_icon_height     : 36px !default
$Button_spinner_width   : 23px !default
$Button_spinner_height  : 23px !default

$Button_internal_padding: 7px !default
$Button_label_padding: 10px !default

$Button_font_family: Helvetica, Arial, sans-serif !default
$Button_font_size: 14px !default

.Button
    cursor: pointer
    position: relative
    height: $Button_height
    vertical-align: middle
    padding-top: $Button_internal_padding
    padding-bottom: $Button_internal_padding
    padding-left: $Button_internal_padding + $Button_label_padding
    padding-right: $Button_internal_padding + $Button_label_padding
    &:disabled
        cursor: default
    &.Button-icon.Button-text
        padding-left: $Button_icon_width + $Button_internal_padding * 2
    &.Button-icon:not(.Button-text)
        width: $Button_icon_width
    &.Button-icon::before
        content: ''
        position: absolute
        left: 0
        width: $Button_icon_width
        height: $Button_icon_height
        display: block
    +transition-property('padding-right, background')
    +transition-duration(0.2s)
    &.Button-spinner
        &.active
            padding-right: $Button_spinner_width + $Button_internal_padding * 2
            &::after
                content: ''
                background-repeat: no-repeat
                background-position: center center
                position: absolute
                top: $Button_internal_padding
                right: $Button_internal_padding
                width: $Button_spinner_width
                height: $Button_spinner_height
                display: block
    &.Button-icon:not(.Button-text).Button-spinner
        &.active
            padding-right: 0
            &::before
                display: none


$Button_border_radius: 0 !default
$Button_font_color: white !default

$Button_default_background              : $default_color !default
$Button_default_hover_background        : lighten($default_color, 10) !default
$Button_default_active_background       : darken($default_color, 10) !default
$Button_default_disabled_background     : $disabled_color !default

$Button_friendly_background             : $friendly_color !default
$Button_friendly_hover_background       : lighten($friendly_color, 10) !default
$Button_friendly_active_background      : darken($friendly_color, 10) !default
$Button_friendly_disabled_background    : $disabled_color !default

$Button_dangerous_background            : $dangerous_color !default
$Button_dangerous_hover_background      : lighten($dangerous_color, 10) !default
$Button_dangerous_active_background     : darken($dangerous_color, 10) !default
$Button_dangerous_disabled_background   : $disabled_color !default

$Button_warning_background              : $warning_color !default
$Button_warning_hover_background        : lighten($warning_color, 10) !default
$Button_warning_active_background       : darken($warning_color, 10) !default
$Button_warning_disabled_background     : $disabled_color !default

$Button_action_background               : $action_color !default
$Button_action_hover_background         : lighten($action_color, 10) !default
$Button_action_active_background        : darken($action_color, 10) !default
$Button_action_disabled_background      : $disabled_color !default


%default_spinner
    &.Button-spinner.active::after
        // TODO: Figure out how to package this into Sass
        // Maybe make it a programmatic spinner, with speed controls?
        background-image: inline-image('spinner.gif')
        +background-size(100%)

%friendly_spinner
    @extend %default_spinner

%dangerous_spinner
    @extend %default_spinner

%warning_spinner
    @extend %default_spinner

%action_spinner
    @extend %default_spinner

// TODO: move this to theme
.Button
    @extend %default_spinner
    +border-radius($Button_border_radius)
    background: $Button_default_background
    color: $Button_font_color
    font-family: $Button_font_family
    font-size: $Button_font_size
    border: 0
    &:hover:not(:disabled)
        background: $Button_default_hover_background
    &:active:not(:disabled)
        background: $Button_default_active_background
    &:disabled
        background: $Button_default_disabled_background

    &.Button-friendly
        @extend %friendly_spinner
        background: $Button_friendly_background
        &:hover:not(:disabled)
            background: $Button_friendly_hover_background
        &:active:not(:disabled)
            background: $Button_friendly_active_background
        &:disabled
            background: $Button_friendly_disabled_background

    &.Button-dangerous
        @extend %dangerous_spinner
        background: $Button_dangerous_background
        &:hover:not(:disabled)
            background: $Button_dangerous_hover_background
        &:active:not(:disabled)
            background: $Button_dangerous_active_background
        &:disabled
            background: $Button_dangerous_disabled_background

    &.Button-warning
        @extend %warning_spinner
        background: $Button_warning_background
        &:hover:not(:disabled)
            background: $Button_warning_hover_background
        &:active:not(:disabled)
            background: $Button_warning_active_background
        &:disabled
            background: $Button_warning_disabled_background

    &.Button-action
        @extend %action_spinner
        background: $Button_action_background
        &:hover:not(:disabled)
            background: $Button_action_hover_background
        &:active:not(:disabled)
            background: $Button_action_active_background
        &:disabled
            background: $Button_action_disabled_background

