
@import 'compass/css3'
@import '../misc/_colors'
@import '../misc/_icons'

$Button_height          : 50px !default
$Button_icon_width      : 26px !default
$Button_icon_height     : 26px !default
$Button_spinner_width   : 22px !default
$Button_spinner_height  : 22px !default

$Button_internal_padding: 7px !default
$Button_label_padding: 10px !default

$Button_font_family: Helvetica, Arial, sans-serif !default
$Button_font_size: 14px !default

.Button
    cursor: pointer
    position: relative
    height: $Button_height
    vertical-align: middle
    padding-top: $Button_internal_padding
    padding-bottom: $Button_internal_padding
    padding-left: $Button_internal_padding + $Button_label_padding
    padding-right: $Button_internal_padding + $Button_label_padding
    &:disabled
        cursor: default
    &.Button-icon.Button-text
        padding-left: $Button_icon_width + $Button_internal_padding * 2
    &.Button-icon:not(.Button-text)
        width: $Button_icon_width + ($Button_height - $Button_icon_width)
    .Button_icon_display
        position: absolute
        left: ($Button_height - $Button_icon_width) / 2
        top: ($Button_height - $Button_icon_height) / 2
        width: $Button_icon_width
        height: $Button_icon_height
        display: block
    +transition-property('padding-right, background')
    +transition-duration(0.2s)
    &.Button-spinner
        .Spinner
            opacity: 0
            position: absolute
            top: $Button_internal_padding
            right: $Button_internal_padding
            width: $Button_spinner_width
            min-width: $Button_spinner_width
            height: $Button_spinner_height
            min-height: $Button_spinner_height

        &.active
            padding-right: $Button_spinner_width + $Button_internal_padding * 2
            .Spinner
                display: block
                opacity: 1
    &.Button-icon:not(.Button-text).Button-spinner
        &.active
            padding-right: 0
            .Button_icon_display
                display: none


$Button_border_radius: 0 !default
$Button_font_color: white !default

$Button_default_background              : $default_color !default
$Button_default_hover_background        : lighten($default_color, 10) !default
$Button_default_active_background       : darken($default_color, 10) !default
$Button_default_disabled_background     : $disabled_color !default

$Button_friendly_background             : $friendly_color !default
$Button_friendly_hover_background       : lighten($friendly_color, 10) !default
$Button_friendly_active_background      : darken($friendly_color, 10) !default
$Button_friendly_disabled_background    : $disabled_color !default

$Button_dangerous_background            : $dangerous_color !default
$Button_dangerous_hover_background      : lighten($dangerous_color, 10) !default
$Button_dangerous_active_background     : darken($dangerous_color, 10) !default
$Button_dangerous_disabled_background   : $disabled_color !default

$Button_warning_background              : $warning_color !default
$Button_warning_hover_background        : lighten($warning_color, 10) !default
$Button_warning_active_background       : darken($warning_color, 10) !default
$Button_warning_disabled_background     : $disabled_color !default

$Button_action_background               : $action_color !default
$Button_action_hover_background         : lighten($action_color, 10) !default
$Button_action_active_background        : darken($action_color, 10) !default
$Button_action_disabled_background      : $disabled_color !default


// TODO: move this to theme
.Button
    +border-radius($Button_border_radius)
    background: $Button_default_background
    color: $Button_font_color
    font-family: $Button_font_family
    font-size: $Button_font_size
    border: 0
    &:hover:not(:disabled)
        background: $Button_default_hover_background
    &:active:not(:disabled)
        background: $Button_default_active_background
    &:disabled
        background: $Button_default_disabled_background

    $icon_dangerous_image: $icon_dangerous_light_image !default
    $icon_warning_image: $icon_warning_light_image !default
    $icon_friendly_image: $icon_friendly_light_image !default
    $icon_action_image: $icon_action_light_image !default
    $icon_default_image: $icon_default_light_image !default



    .Button_icon_display
        background-image: $icon_default_image
        +background-size(contain)
        background-repeat: no-repeat
        background-position: center

    &.Button-friendly
        background: $Button_friendly_background
        &:hover:not(:disabled)
            background: $Button_friendly_hover_background
        &:active:not(:disabled)
            background: $Button_friendly_active_background
        &:disabled
            background: $Button_friendly_disabled_background
        .Button_icon_display
            background-image: $icon_friendly_image

    &.Button-dangerous
        background: $Button_dangerous_background
        &:hover:not(:disabled)
            background: $Button_dangerous_hover_background
        &:active:not(:disabled)
            background: $Button_dangerous_active_background
        &:disabled
            background: $Button_dangerous_disabled_background
        .Button_icon_display
            background-image: $icon_dangerous_image

    &.Button-warning
        background: $Button_warning_background
        &:hover:not(:disabled)
            background: $Button_warning_hover_background
        &:active:not(:disabled)
            background: $Button_warning_active_background
        &:disabled
            background: $Button_warning_disabled_background
        .Button_icon_display
            background-image: $icon_warning_image

    &.Button-action
        background: $Button_action_background
        &:hover:not(:disabled)
            background: $Button_action_hover_background
        &:active:not(:disabled)
            background: $Button_action_active_background
        &:disabled
            background: $Button_action_disabled_background
        .Button_icon_display
            background-image: $icon_action_image

