@import 'compass/css3'
@import '../misc/_colors'

$Select_background_color: white !default
$Select_border_color: #ccc !default
$Select_border_size: 1px !default
$Select_border_radius: 4px !default

$Select_padding: 8px !default

$Select_choices_min_width: 140px
$Select_choices_max_height: 400px

$Select_choice_hover_background: rgba($default_color, 0.1)
$Select_choice_selected_background: rgba($default_color, 0.2)

$Select_choices_zindex: 2 !default

.Select
    +box-sizing(border-box)
    position: relative
    [data-hidden="true"]
        visibility: hidden


.Select_label, .Select_choices, .Select_value
    display: inline-block

.Select_choices
    +box-sizing(border-box)
    min-width: $Select_choices_min_width
    max-height: $Select_choices_max_height
    position: absolute
    z-index: $Select_choices_zindex

.Select_value
    +box-sizing(border-box)
    min-width: $Select_choices_min_width

.Select_choice, .Select_value, .Select_label
    cursor: pointer

.Select_choice-null
    @extend .Select_choice
    .Select_choice_label
        opacity: 0.7
        font-style: italic
.Select_value-null
    opacity: 0.7
    font-style: italic



// Theme styles
.Select_value, .Select_choices
    +border-radius($Select_border_radius)
    border: $Select_border_size solid $Select_border_color
    background-color: $Select_background_color

.Select_value
    padding: $Select_padding

.Select_choice
    padding: $Select_padding
    &:hover:not([data-selected="true"])
        background: $Select_choice_hover_background
    &[data-selected="true"]
        background: $Select_choice_selected_background

.Select_label
    padding: $Select_padding
    &:empty
        display: none

