$StringInput_background_color       : white !default
$StringInput_border_size            : 1px   !default
$StringInput_border_color           : #ccc  !default
$StringInput_token_background_color : #eef  !default
$StringInput_token_border_size      : 1px   !default
$StringInput_token_border_color     : #ccc  !default

.StringInput
    display             : block
.StringInput-input
    font                : inherit
    border              : 0
    outline             : 0
    //width               : 10em

.StringInput-token-form, .StringInput-tokens
    display             : block

.StringInput-token-form, .StringInput:not(.StringInput-tokenize) .StringInput-input
    border-width        : $StringInput_border_size
    border-style        : solid
    border-color        : $StringInput_border_color
    background-color    : $StringInput_background_color

.StringInput-token
    border-width        : $StringInput_token_border_size
    border-style        : solid
    border-color        : $StringInput_token_border_color
    background-color    : $StringInput_token_background_color
    display             : inline-block

.StringInput-token, .StringInput-input
    margin              : 0.25em
    padding             : 0.25em 0.5em
    display             : inline-block

.StringInput-tokenize .StringInput-input
    display: block

