.StringInput-tokens
    display: inline-block
.StringInput, .StringInput-token
    border: 1px solid #ccc
.StringInput-token, .StringInput-input
    margin: 0.25em
    padding: 0.25em 0.5em

.StringInput-input
    font: inherit
    border: 0
    outline: 0