extend _base

block content
    h1 Doodad.Form


    .example
        h2 Basic form
        script.example_code(type='text/coffeescript').
            new_form = new Doodad.Form
                content: [
                    new Doodad.StringField
                        name: 'some_field'
                        label: 'Some Field'
                    new Doodad.StringField
                        name: 'other_field'
                        multiline: true
                    new Doodad.Select
                        placeholder: 'A Field'
                        choices: [
                            {
                                label: 'Category 1'
                                value: 'category-1'
                            }
                            {
                                label: 'Category 2'
                                value: 'category-2'
                            }
                        ]
                    new Doodad.StringField
                        label: 'Tokens'
                        name: 'token_field'
                        tokenize: true
                ]
            button = new Doodad.Button
                label: 'Submit Form'
                action: ->
                    alert(JSON.stringify(new_form.getValue(),null,4))
            doodads.push([new_form, button])

    .example
        h2 Nested form
        script.example_code(type='text/coffeescript').
            new_form = new Doodad.Form
                content: [
                    new Doodad.StringField
                        name: 'some_field'
                        label: 'Some Field'
                    new Doodad.Button
                        label: 'Show Nested Form'
                        type: 'text-bare'
                        action: (self) ->
                            if new_form.fields.form_1.toggle().is_visible
                                self.setLabel('Hide Nested Form')
                            else
                                self.setLabel('Show Nested Form')

                    new Doodad.Form
                        visible: false
                        content: [
                            new Doodad.Form.FormLabel
                                content: 'Nested Form:'
                            new Doodad.StringField
                                name: 'other_field'
                                multiline: true
                            new Doodad.Select
                                placeholder: 'A Field'
                                choices: [
                                    {
                                        label: 'Category 1'
                                        value: 'category-1'
                                    }
                                    {
                                        label: 'Category 2'
                                        value: 'category-2'
                                    }
                                ]
                            new Doodad.StringField
                                label: 'Tokens'
                                name: 'token_field'
                                tokenize: true
                            new Doodad.Form.FormText
                                content: 'This nested form is hidden by default. It also has a FormLabel and a FormText.'
                        ]
                ]

            button1 = new Doodad.Button
                label: 'Submit Form'
                action: ->
                    alert(JSON.stringify(new_form.getValue(),null,4))
            button2 = new Doodad.Button
                label: 'Submit Form (nested)'
                action: ->
                    alert(JSON.stringify(new_form.getValue(flatten: false),null,4))
            doodads.push([new_form, button1, button2])


    .example
        h2 Form layout
        script.example_code(type='text/coffeescript').
            new_form = new Doodad.Form
                layout: [
                    [ ['some_field']                           ]
                    [ ['other_field'],['field_3', 'button_1']  ]
                    # [ ['token_field']                        ] # disabled to show warning
                    [ ['some_field']                           ] # duplicated to show error
                ]
                content: [
                    new Doodad.StringField
                        name: 'some_field'
                        label: 'Some Field'
                    new Doodad.StringField
                        name: 'other_field'
                        multiline: true
                    new Doodad.Select
                        placeholder: 'A Field'
                        choices: [
                            {
                                label: 'Category 1'
                                value: 'category-1'
                            }
                            {
                                label: 'Category 2'
                                value: 'category-2'
                            }
                        ]
                    new Doodad.StringField
                        label: 'Tokens'
                        name: 'token_field'
                        tokenize: true
                    new Doodad.Button
                        label: 'Toggle Something'
                        action: ->
                ]
            button1 = new Doodad.Button
                label: 'Submit Form'
                action: ->
                    alert(JSON.stringify(new_form.getValue(),null,4))
            doodads.push([new_form, button1])



    .example
        h2 Form shortcuts
        script.example_code(type='text/coffeescript').
            { dform, dstringinput, dselect, dformlabel, dformtext } = Doodad.Shortcuts
            new_form = dform 'form_name',
                dstringinput 'some_field'
                dformlabel 'Additional fields:'
                dstringinput 'other_field', label: 'Other Field', multiline: true, placeholder: 'Text goes here'
                dselect 'prop', placeholder: 'A Field', [
                    { label: 'Category 1', value: 'category-1' }
                    { label: 'Category 2', value: 'category-2' }
                ]
                dstringinput
                    label: 'Tokens'
                    tokenize: true
                dformlabel 'Info'
                dformtext 'This is some helpful information about the form'
                new Doodad.Button
                    label: 'Toggle Something'
                    on: click: ->
            button1 = new Doodad.Button
                label: 'Submit Form'
                action: ->
                    alert(JSON.stringify(new_form.getValue(),null,4))
            doodads.push([new_form, button1])

    .example
        h2 Form saving
        script.example_code(type='text/coffeescript').
            { dform, dstringinput, dselect } = Doodad.Shortcuts
            model1 = new DummyModel
                some_field: 'Initial Value'
            new_form = dform 'form_name', model: model1,
                dstringinput 'some_field', value: model1.get('some_field')
                dstringinput 'other_field', label: 'Other Field', multiline: true, placeholder: 'Text goes here'
                dselect 'prop', placeholder: 'A Field', [
                    { label: 'Category 1', value: 'category-1' }
                    { label: 'Category 2', value: 'category-2' }
                ]
            button1 = new Doodad.Button
                label: 'Save Form'
                spinner: true
                action: (self) ->
                    new_form.save ->
                        self.enable()
                        alert("model attributes:\n\n" + JSON.stringify(model1.attributes, null, 4))
            doodads.push([new_form, button1])
