extend _base

block content
    h1 Doodad.StringField


    .example
        h2 Basic input
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringField
                label: 'Some String'
                placeholder: 'Placeholder'
                on:
                    change: (self, val) ->
                        @demo_text(val)
                    blur: (self, val) ->
                        @demo_text('blurred')
                    focus: (self, val) ->
                        @demo_text('focused')

    .example
        h2 Disabled input
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringField
                label: 'Some String'
                value: 'Immutable field'
                enabled: false
                on:
                    change: (self, val) ->
                        @demo_text(val)
                    blur: (self, val) ->
                        @demo_text('blurred')
                    focus: (self, val) ->
                        @demo_text('focused')

    .example
        h2 Input with icon
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringField
                label: 'Some String'
                placeholder: 'Placeholder'
                icon: 'search'
                char_limit: 300
                on:
                    change: (self, val) ->
                        @demo_text(val)
                    blur: (self, val) ->
                        @demo_text('blurred')
                    focus: (self, val) ->
                        @demo_text('focused')

    .example
        h2 Multiline input
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringField
                label: 'Some Text'
                type: 'multiline'
                value: 'Multiline\ntext'
                on:
                    change: (self, val) ->
                        @demo_text(val)
                    blur: (self, val) ->
                        @demo_text('blurred')
                    focus: (self, val) ->
                        @demo_text('focused')

    .example
        h2 Tokenized input
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringField
                label: 'Some Tokens'
                placeholder: 'Enter tags (press enter)'
                type: 'token'
                on:
                    change: (self, val) ->
                        @demo_text(val.toString())
                    blur: (self, val) ->
                        @demo_text('blurred')
                    focus: (self, val) ->
                        @demo_text('focused')

    .example
        h2 Limited input, characters
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringField
                label: 'Only a little bit of text'
                char_limit: 100
                on:
                    change: (self, val) ->
                        @demo_text(val)
                    blur: (self, val) ->
                        @demo_text('blurred')
                    focus: (self, val) ->
                        @demo_text('focused')

    .example
        h2 Limited input, words
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringField
                label: 'A few words'
                word_limit: 20
                type: 'multiline'
                on:
                    change: (self, val) ->
                        @demo_text(val)
                    blur: (self, val) ->
                        @demo_text('blurred')
                    focus: (self, val) ->
                        @demo_text('focused')

    .example
        h2 Softly limited input, words
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringField
                label: 'A few words'
                word_limit: '~20'
                type: 'multiline'
                on:
                    change: (self, val) ->
                        @demo_text(val)
                    blur: (self, val) ->
                        @demo_text('blurred')
                    focus: (self, val) ->
                        @demo_text('focused')

    .example
        h2 Model binding to label
        script.example_code(type='text/coffeescript').
            model = new Backbone.Model(some_property: new Date())
            setInterval ->
                model.set(some_property: new Date())
            , 1000
            doodads.push new Doodad.StringField
                label: '<%= some_property.toISOString() %>'
                model: model
                char_limit: '~20'
                on:
                    change: (self, val) ->
                        @demo_text(val)
                    blur: (self, val) ->
                        @demo_text('blurred')
                    focus: (self, val) ->
                        @demo_text('focused')

    script(type='text/coffeescript').
        _.each doodads, (doodad_set, i) ->
            $example_el = $($('.example').get(i))
            unless _.isArray(doodad_set)
                doodad_set = [doodad_set]
            _.each doodad_set, (doodad_instance) ->    
                doodad_instance.demo_text = (val) ->
                    $example_el.find('.output').text(val)
    