extend _base

block content
    h1 Doodad.StringInput


    .example
        h2 Basic input
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringInput
                label: 'Some String'
                placeholder: 'Placeholder'
                on:
                    change: (self, val) ->
                        @_demo_text(val)
                    blur: (self, val) ->
                        @_demo_text('blurred')
                    focus: (self, val) ->
                        @_demo_text('focused')

    .example
        h2 Disabled input
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringInput
                label: 'Some String'
                value: 'Immutable field'
                enabled: false
                on:
                    change: (self, val) ->
                        @_demo_text(val)
                    blur: (self, val) ->
                        @_demo_text('blurred')
                    focus: (self, val) ->
                        @_demo_text('focused')

    .example
        h2 Multiline input
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringInput
                label: 'Some Text'
                multiline: true
                value: 'Multiline\ntext'
                on:
                    change: (self, val) ->
                        @_demo_text(val)
                    blur: (self, val) ->
                        @_demo_text('blurred')
                    focus: (self, val) ->
                        @_demo_text('focused')

    .example
        h2 Tokenized input
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringInput
                label: 'Some Tokens'
                placeholder: 'Enter tags (press enter)'
                tokenize: true
                on:
                    change: (self, val) ->
                        @_demo_text(val.toString())
                    blur: (self, val) ->
                        @_demo_text('blurred')
                    focus: (self, val) ->
                        @_demo_text('focused')

    .example
        h2 Limited input, characters
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringInput
                label: 'Only a little bit of text'
                char_limit: 100
                on:
                    change: (self, val) ->
                        @_demo_text(val)
                    blur: (self, val) ->
                        @_demo_text('blurred')
                    focus: (self, val) ->
                        @_demo_text('focused')

    .example
        h2 Limited input, words
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringInput
                label: 'A few words'
                word_limit: 20
                multiline: true
                on:
                    change: (self, val) ->
                        @_demo_text(val)
                    blur: (self, val) ->
                        @_demo_text('blurred')
                    focus: (self, val) ->
                        @_demo_text('focused')

    .example
        h2 Softly limited input, words
        script.example_code(type='text/coffeescript').
            doodads.push new Doodad.StringInput
                label: 'A few words'
                word_limit: '~20'
                multiline: true
                on:
                    change: (self, val) ->
                        @_demo_text(val)
                    blur: (self, val) ->
                        @_demo_text('blurred')
                    focus: (self, val) ->
                        @_demo_text('focused')
