.FormLabel
    font-weight: bold

.FormContentCell
    padding-bottom: $Form-internal_padding
    &:not(:last-child)
        padding-right: $Form-internal_padding / 2
    &:not(:first-child)
        padding-left: $Form-internal_padding / 2

    .StringField
        margin-bottom: 0