
// Form layout

.Form
    .Select_Value, .Select_Choices, .StringField_Input
        width: 100%
        box-sizing: border-box

.Form_ContentCell
    display: inline-block
    vertical-align: top
    box-sizing: border-box

