

.PopoverContent
    position: absolute
    &::before, &::after
        content         : ""
        position        : absolute
        pointer-events  : none


// Many of these are technically LAF styles, but in this case it’s a lot
// simpler to have the different variations in one place. Also, the structure
// does affect the look-and-feel in the case of the triangles.
.Popover
    position: absolute
    &.-fixed
        position: fixed

    $border_radius_adjustment: ($Popover-border--radius - $Popover-border--width)

    // TOP EDGE

    &.-top-left .PopoverContent
        margin-top  : $Popover-triangle--size * 2
        margin-left : $Popover-triangle--size * 0.5 - $border_radius_adjustment
        &::after
            top                 : $Popover-triangle--size * -2
            left                : $border_radius_adjustment
            border-bottom-color : $Popover-background--color
        &::before
            top                 : ($Popover-triangle--size * -2) - (2 * $Popover-border--width)
            left                : -1 * $Popover-border--width + $border_radius_adjustment
            border-bottom-color : $Popover-border--color

    &.-top-center .PopoverContent
        margin-top      : $Popover-triangle--size * 2
        margin-left     : 50%
        &::after
            top                 : $Popover-triangle--size * -2
            left                : calc(50% - #{ $Popover-triangle--size })
            border-bottom-color : $Popover-background--color
        &::before
            top                 : ($Popover-triangle--size * -2) - (2 * $Popover-border--width)
            left                : calc(50% - #{ $Popover-triangle--size + $Popover-border--width })
            border-bottom-color : $Popover-border--color

    &.-top-right .PopoverContent
        margin-top      : $Popover-triangle--size * 2
        margin-right    : $Popover-triangle--size * 0.5 - $border_radius_adjustment
        &::after
            top                 : $Popover-triangle--size * -2
            right               : $border_radius_adjustment
            border-bottom-color : $Popover-background--color
        &::before
            top                 : ($Popover-triangle--size * -2) - (2 * $Popover-border--width)
            right               : -1 * $Popover-border--width + $border_radius_adjustment
            border-bottom-color : $Popover-border--color

    // RIGHT EDGE

    &.-right-top .PopoverContent
        margin-top      : $Popover-triangle--size * -0.5 - $border_radius_adjustment
        margin-left     : $Popover-triangle--size * -2
        &::after
            right               : $Popover-triangle--size * -2
            top                 : $border_radius_adjustment
            border-left-color   : $Popover-background--color
        &::before
            right               : ($Popover-triangle--size * -2) - (2 * $Popover-border--width)
            top                 : -1 * $Popover-border--width + $border_radius_adjustment
            border-left-color   : $Popover-border--color

    &.-right-center .PopoverContent
        margin-top      : 50%
        margin-left     : $Popover-triangle--size * -2
        &::after
            right               : $Popover-triangle--size * -2
            top                 : calc(50% - #{ $Popover-triangle--size })
            border-left-color   : $Popover-background--color
        &::before
            right               : ($Popover-triangle--size * -2) - (2 * $Popover-border--width)
            top                 : calc(50% - #{ $Popover-triangle--size + $Popover-border--width })
            border-left-color   : $Popover-border--color

    &.-right-bottom .PopoverContent
        margin-bottom   : $Popover-triangle--size * -0.5 - $border_radius_adjustment
        margin-left     : $Popover-triangle--size * -2
        &::after
            right               : $Popover-triangle--size * -2
            bottom              : $border_radius_adjustment
            border-left-color   : $Popover-background--color
        &::before
            right               : ($Popover-triangle--size * -2) - (2 * $Popover-border--width)
            bottom              : -1 * $Popover-border--width + $border_radius_adjustment
            border-left-color   : $Popover-border--color

    // BOTTOM EDGE

    &.-bottom-left .PopoverContent
        margin-top      : $Popover-triangle--size * -2
        margin-left     : $Popover-triangle--size * 0.5 - $border_radius_adjustment
        &::after
            bottom              : $Popover-triangle--size * -2
            left                : $border_radius_adjustment
            border-top-color    : $Popover-background--color
        &::before
            bottom              : ($Popover-triangle--size * -2) - (2 * $Popover-border--width)
            left                : -1 * $Popover-border--width + $border_radius_adjustment
            border-top-color    : $Popover-border--color

    &.-bottom-center .PopoverContent
        margin-top      : $Popover-triangle--size * -2
        margin-left     : 50%
        &::after
            bottom              : $Popover-triangle--size * -2
            left                : calc(50% - #{ $Popover-triangle--size })
            border-top-color    : $Popover-background--color
        &::before
            bottom              : ($Popover-triangle--size * -2) - (2 * $Popover-border--width)
            left                : calc(50% - #{ $Popover-triangle--size + $Popover-border--width })
            border-top-color    : $Popover-border--color

    &.-bottom-right .PopoverContent
        margin-top      : $Popover-triangle--size * -2
        margin-right    : $Popover-triangle--size * 0.5 - $border_radius_adjustment
        &::after
            bottom              : $Popover-triangle--size * -2
            right               : $border_radius_adjustment
            border-top-color    : $Popover-background--color
        &::before
            bottom              : ($Popover-triangle--size * -2) - (2 * $Popover-border--width)
            right               : -1 * $Popover-border--width + $border_radius_adjustment
            border-top-color    : $Popover-border--color

    // LEFT EDGE

    &.-left-top .PopoverContent
        margin-top     : $Popover-triangle--size * -0.5 - $border_radius_adjustment
        margin-left    : $Popover-triangle--size * 2
        &::after
            left                : $Popover-triangle--size * -2
            top                 : $border_radius_adjustment
            border-right-color  : $Popover-background--color
        &::before
            left                : ($Popover-triangle--size * -2) - (2 * $Popover-border--width)
            top                 : -1 * $Popover-border--width + $border_radius_adjustment
            border-right-color  : $Popover-border--color

    &.-left-center .PopoverContent
        margin-top     : 50%
        margin-left    : $Popover-triangle--size * 2
        &::after
            left                : $Popover-triangle--size * -2
            top                 : calc(50% - #{ $Popover-triangle--size })
            border-right-color  : $Popover-background--color
        &::before
            left                : ($Popover-triangle--size * -2) - (2 * $Popover-border--width)
            top                 : calc(50% - #{ $Popover-triangle--size + $Popover-border--width })
            border-right-color  : $Popover-border--color

    &.-left-bottom .PopoverContent
        margin-bottom  : $Popover-triangle--size * -0.5 - $border_radius_adjustment
        margin-left    : $Popover-triangle--size * 2
        &::after
            left                : $Popover-triangle--size * -2
            bottom              : $border_radius_adjustment
            border-right-color  : $Popover-background--color
        &::before
            left                : ($Popover-triangle--size * -2) - (2 * $Popover-border--width)
            bottom              : -1 * $Popover-border--width + $border_radius_adjustment
            border-right-color  : $Popover-border--color

.PopoverControl
    &.-dismiss
        float: left
    &.-confirm
        float: right



.Popover.-modal
    top         : 0
    left        : 0
    right       : 0
    bottom      : 0

