@import 'compass'
@import '../misc/_colors'


$Popover_border_size        : 1px               !default
$Popover_border_color       : $disabled_color   !default
$Popover_background_color   : white             !default
$Popover_triangle_size      : 10px              !default
$Popover_padding            : 10px              !default
$Popover_border_radius      : 10px              !default
$Popover_modal_mask_color   : rgba(0,0,0,0.5)   !default


.Popover
    position: absolute
    .Popover_contents
        position: absolute
        border      : $Popover_border_size solid $Popover_border_color
        +border-radius($Popover_border_radius)
        background-color  : $Popover_background_color
        padding: $Popover_padding
        //overflow: scroll
        &::before, &::after
            content: ""
            position: absolute
            border-style: solid
            border-color: transparent
            pointer-events: none
        &::after
            border-width: $Popover_triangle_size
        &::before
            border-width: $Popover_triangle_size + $Popover_border_size

    $border_radius_adjustment: ($Popover_border_radius - $Popover_border_size)

    &.Popover-top-left .Popover_contents
        margin-top  : $Popover_triangle_size * 2
        margin-left : $Popover_triangle_size * 0.5 - $border_radius_adjustment
        &::after
            top                 : $Popover_triangle_size * -2
            left                : $border_radius_adjustment
            border-bottom-color : $Popover_background_color
        &::before
            top                 : ($Popover_triangle_size * -2) - (2 * $Popover_border_size)
            left                : -1 * $Popover_border_size + $border_radius_adjustment
            border-bottom-color : $Popover_border_color

    &.Popover-top-center .Popover_contents
        margin-top      : $Popover_triangle_size * 2
        margin-left     : 50%
        &::after
            top                 : $Popover_triangle_size * -2
            left                : calc(50% - #{ $Popover_triangle_size })
            border-bottom-color : $Popover_background_color
        &::before
            top                 : ($Popover_triangle_size * -2) - (2 * $Popover_border_size)
            left                : calc(50% - #{ $Popover_triangle_size + $Popover_border_size })
            border-bottom-color : $Popover_border_color

    &.Popover-top-right .Popover_contents
        margin-top      : $Popover_triangle_size * 2
        margin-right    : $Popover_triangle_size * 0.5 - $border_radius_adjustment
        &::after
            top                 : $Popover_triangle_size * -2
            right               : $border_radius_adjustment
            border-bottom-color : $Popover_background_color
        &::before
            top                 : ($Popover_triangle_size * -2) - (2 * $Popover_border_size)
            right               : -1 * $Popover_border_size + $border_radius_adjustment
            border-bottom-color : $Popover_border_color

    &.Popover-right-top .Popover_contents
        margin-top      : $Popover_triangle_size * -0.5 - $border_radius_adjustment
        margin-right    : $Popover_triangle_size * 2
        &::after
            right               : $Popover_triangle_size * -2
            top                 : $border_radius_adjustment
            border-left-color  : $Popover_background_color
        &::before
            right               : ($Popover_triangle_size * -2) - (2 * $Popover_border_size)
            top                 : -1 * $Popover_border_size + $border_radius_adjustment
            border-left-color  : $Popover_border_color

    &.Popover-left-top .Popover_contents
        margin-top      : $Popover_triangle_size * -0.5 - $border_radius_adjustment
        margin-left    : $Popover_triangle_size * 2
        &::after
            left                : $Popover_triangle_size * -2
            top                 : $border_radius_adjustment
            border-right-color  : $Popover_background_color
        &::before
            left                : ($Popover_triangle_size * -2) - (2 * $Popover_border_size)
            top                 : -1 * $Popover_border_size + $border_radius_adjustment
            border-right-color  : $Popover_border_color

.Popover-modal
    top: 0
    left: 0
    right: 0
    bottom: 0
    position: fixed
    background: $Popover_modal_mask_color
    .Popover_contents
        +single-box-shadow($blur: 1px)

