$appbar_z_index         : 10
$appbar_background      : rgba(240,240,240,0.8)
$appbar_border          : 1px solid #ccc
$appbar_item_spacing    : 4px

$button_font_family : "Montserrat", sans-serif
$button_font_color  : white
$button_font_size   : 12px
$button_height: 36px
$button_border_radius: 4px
.Button
    text-transform: uppercase